.customSearchBox {
    padding: 10px 15px;
    border: 2px solid #3498db;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    width: 75%; /* Set the width to 75% of the screen */
    box-sizing: border-box;
  }
  
  .customSearchBox::placeholder {
    color: #888;
  }
  
  .customSearchBox:focus {
    border-color: #e74c3c;
  }
  