.folderclass {
    display: flex;
    justify-content: flex-start; /* Align content to the left side */
    align-items: center; /* Vertically center content */
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
  }
  
  .folderclass span {
    margin-right: 10px; /* Add some spacing between span elements */
  }
  
  .createFolderBtn,
  .createFileBtn,
  .deleteBtn {
    cursor: pointer;
  }
  

  
  
  
  
  
  
  